@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

  .add-new-constraint {
    max-width: 250px;
  }

  .variable {
    min-width: 35px;
    max-width: 35px;
    text-align: center;
  }

  .constant {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
  }

}
